.hidden {
  display: none;
}

ul.project-nav {
  list-style-type: none;
}

ul.project-nav li {
  margin-bottom: 10px;
  font-size: 1.2em;
}

html, body
{
    background-color: #fff;
    color: #000;
}