<script type="text/javascript" src="/js/conway.js"></script>
<script type="text/javascript">
  \$("\#conway").ready(function() {
    conway();
  });
</script>
<div class="span-16 colborder prepend-1">
  <div id="demo">
    <h3>Conway's Game of Life - Demo</h3>
    <canvas id="conway" width="500" height="500" 
            style="border: 1px solid black;"></canvas>
  </div>
  <div id="code" class="hidden">
    <h3>Conway's Game of Life - Code</h3>
    <p>This is the code I wrote to simulate conway's game of life. It's my first attempt to do something with Canvas, so fun times for all! If you're interested, check out the code below.</p>
  </div>
</div>
<div class="span-6 last">
  <ul class="project-nav">
    <li><a href="javascript:void(0)" 
          onclick="\$('\#demo').show(); \$('\#code').hide();">Show Demo</a></li>
    <li><a href="javascript:void(0)" 
          onclick="\$('\#demo').hide(); \$('\#code').show();">Show Code</a></li>
  </ul>
</div>
