
<link rel="stylesheet" href="/css/blueprint/screen.css" type="text/css"
  media="screen, projection, print" />
<link rel="stylesheet" href="/css/blueprint/plugins/fancy-type/screen.css"
  type="text/css" media="screen, projection, print" />

<!--[if lt IE 8]><link rel="stylesheet" href="css/blueprint/ie.css" 
  type="text/css" media="screen, projection"><![endif]-->

<link rel="stylesheet" href="/css/portfolio/nav.css"
  type="text/css" media="screen, projection, print" />
<link rel="stylesheet" href="/css/portfolio/header.css"
  type="text/css" media="screen, projection, print" />
<link rel="stylesheet" href="/css/portfolio/common.css"
  type="text/css" media="screen, projection, print" />
