<script type="text/javascript" src="/js/conway.js"></script>
<script type="text/javascript">
  \$("\#conway").ready(function() {
    conway("conway");
  });
</script>
<div class="span-16 colborder prepend-1">
  <div id="demo">
    <h3>Dial Creator - Demo</h3>
    <canvas id="conway" width="500" height="500" 
        style="border: 1px solid black;"></canvas>
  </div>
  <div id="code" class="hidden">
    <h3>Dial Creator - Code</h3>
  </div>
</div>
<div class="span-6 last">
  <ul class="project-nav">
    <li><a href="javascript:void(0)" 
          onclick="\$('\#demo').show(); \$('\#code').hide();">Show Demo</a></li>
    <li><a href="javascript:void(0)" 
          onclick="\$('\#demo').hide(); \$('\#code').show();">Show Code</a></li>
  </ul>
</div>
