<div class="span-16 colborder prepend-1">
  <div id="demo">
    <h3>Dial Creator - Demo</h3>
    <p>While I'm planning to rewrite this in canvas, I figured I'd post the original Procesing version first. The exported downloads were created by Processing but I've only tested the OSX version.</p>
    <h5>Downloads</h5>
    <ul style="padding-left: 40px;">
      <li><a href="/files/dialCreator/dialCreator.windows.zip">Windows</a></li>
      <li><a href="/files/dialCreator/dialCreator.osx.zip">Mac OSX</a></li>
      <li><a href="/files/dialCreator/dialCreator.linux.zip">Linux</a></li>
    </ul>
    <h5>Screenshot</h5>
    <img src="/img/dial.v1.png"></img>
  </div>
  <div id="code" class="hidden">
    <h3>Dial Creator - Code</h3>
    <ul style="padding-left: 40px;">
      <li><a href="#arcTool.pxe">arcTool.pxe</a> -- main processing file.</li>
      <li><a href="#Dial.pxe">Dial.pxe</a> -- maintains info about the dial and how to render it.</li>
      <li><a href="#FormBuilder.pxe">FormBuilder.pxe</a> -- hides boilerplate in building the form.</li>
    </ul>
    <h5 id="arcTool.pxe">arcTool.pxe (<a href="#code">top</a>)</h5>
    <script src="http://gist.github.com/390947.js?file=arcTool.pxe"></script>
    <h5 id="Dial.pxe">Dial.pxe (<a href="#code">top</a>)</h5>
    <script src="http://gist.github.com/390947.js?file=Dial.pxe"></script>
    <h5 id="FormBuilder.pxe">FormBuilder.pxe (<a href="#code">top</a>)</h5>
    <script src="http://gist.github.com/390947.js?file=FormBuilder.pxe"></script>    
  </div>
</div>
<div class="span-6 last">
  <ul class="project-nav">
    <li><a href="javascript:void(0)" 
          onclick="\$('\#demo').show(); \$('\#code').hide();">Show Demo</a></li>
    <li><a href="javascript:void(0)" 
          onclick="\$('\#demo').hide(); \$('\#code').show();">Show Code</a></li>
  </ul>
</div>
