<div class="span-16 colborder prepend-1">
  <div id="demo">
    <h3>Dial Maker version 2 - Demo</h3>
    <p>I wrote the original Dial Maker in Processing. While processing is cool it didn't really give me anything that canvas doesn't, and it brought in headaches of it's own. So, here's my rewrite!</p>
  </div>
  <div id="code" class="hidden">
    <h3>Dial Maker version 2 - Code</h3>
  </div>
</div>
<div class="span-6 last">
  <ul class="project-nav">
    <li><a href="javascript:void(0)" 
          onclick="\$('\#demo').show(); \$('\#code').hide();">Show Demo</a></li>
    <li><a href="javascript:void(0)" 
          onclick="\$('\#demo').hide(); \$('\#code').show();">Show Code</a></li>
  </ul>
</div>
