<div class="span-17 colborder prepend-1">
  <div id="demo">
    <h3>Painted Minis!</h3>
    <div class="span-17 last" style="border: 1px solid #999">
    <embed type="application/x-shockwave-flash" src="https://picasaweb.google.com/s/c/bin/slideshow.swf" width="600" height="400" flashvars="host=picasaweb.google.com&hl=en_US&feat=flashalbum&RGB=0x000000&feed=https%3A%2F%2Fpicasaweb.google.com%2Fdata%2Ffeed%2Fapi%2Fuser%2F112843937670511183073%2Falbumid%2F5651465867280290097%3Falt%3Drss%26kind%3Dphoto%26hl%3Den_US" pluginspage="http://www.macromedia.com/go/getflashplayer"></embed>
    </div>
  </div>
</div>
