<div class='span-24 last'>
  <div class='span-24 last'>
    <div class='span-3 append-bottom'>
      <a href='/life'><img src='/img/conway_thumb.png' style='height: 100; width: 100;'></img></a>
    </div>
    <div class='span-20 last'>
      <h3><a href='/life'>Conway's Game of Life</a></h3>
      <p>This was a goof to teach myself about javascript and html5's canvas. I've still got a lot of learning there but I'm happy with this first attempt. There isn't anything too fancy about this version, just gets something up and running.</p>
    </div>
  </div>
  <div class='span-24 last'>
    <div class='span-3 append-bottom'>
      <a href='/dial'><img src='/img/dial_thumb.png' style='height: 100; width: 100;'></img></a>
    </div>
    <div class='span-20 last'>
      <h3><a href='/dial'>Dial Maker</a></h3>
      <p>I made this for my dad. He restores old radios and needs to replace the dials that appear on the radio. This makes it easy to create images of dial markers to play with. This first version is written in processing but I plan to redo it with javascript and canvas. He has a nice list of features to add to this. :-)</p>
    </div>
  </div>
  <div class='span-24 last'>
    <div class='span-3 append-bottom'>
      <a href='/minis'><img src='/img/kriv_thumb.jpg' style='height: 100; width: 100;'></img></a>
    </div>
    <div class='span-20 last'>
      <h3><a href='/minis'>Painted Minis</a></h3>
      <p>In 2011 I started playing Dungeons and Dragons with a group of friends and after a while we decided we wanted to paint miniatures for the characters. I liked it so much I decided to keep going, painting some of their minis and painting minis for many of the monsters we face.</p>
    </div>
  </div>
</div>
